@import '/src/variables.scss';

header {

    background-image: url(/image-hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    height: 12rem;

    padding: 1rem 1rem 0;

    .inner {
        display: flex;
        justify-content: space-between;
        position: relative;
    
        align-items: center;
    }

    .menu-toggler {
        width: 15px;
    }

    dialog {
        background-color: white;
        border-radius: 10px;
        color: black;
        padding: 0;
        border: none;
        top: 3rem;
        width: 90%;
        z-index: 1;
        text-align: left;

        &::backdrop {
            background-color: orange;
        }

        nav {
            display: flex;
            flex-direction: column;
            
            a {
                color: black;
                font-size: 1.2rem;
                font-weight: 700;
                text-decoration: none;
                padding: 1rem 0;
                padding-left: 1rem;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
            }
        }
    }
}